html, body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-size: calc(90% + 0.1vw);

  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #eef3f7;
}